@keyframes shooting-star {
  0% {
    transform: translate(0, 0);
    opacity: 1; }
  5% {
    opacity: 0.9; }
  25% {
    opacity: 0;
    transform: translate(-200px, calc( (var(--sky-h)/2) + var(--shooting-star-h))); }
  100% {
    opacity: 0;
    transform: translate(0, 0); } }

@keyframes twinkle {
  from {
    opacity: .3; }
  to {
    opacity: 1; } }

:root {
  --color-black: rgb(22, 22, 22);
  --color-white: #fff;
  --color-primary: rgb(14, 9, 100);
  --sky-h: 33vh;
  --shooting-star-w: 7.2rem;
  --shooting-star-h: 5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-black); }

.header {
  font-family: "Playfair Display", serif;
  color: var(--color-white); }
  .header__name {
    font-size: 2.5rem; }
  .header__titles {
    font-size: 1.5rem; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--color-black); }
  .header__sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--sky-h);
    overflow: hidden; }
    .header__sky-stars {
      position: absolute;
      top: 0;
      left: 0;
      background-size: auto 100%;
      background-position: 50% 0;
      width: 200vw;
      height: 33vh; }
      .header__sky-stars--1 {
        background-image: url(../img/stars-1.png);
        animation: twinkle 10s ease-in -5s infinite alternate; }
      .header__sky-stars--2 {
        background-image: url(../img/stars-2.png);
        animation: twinkle 3s ease-in -4s infinite alternate; }
      .header__sky-stars--3 {
        background-image: url(../img/stars-3.png);
        animation: twinkle 2s ease-in -1s infinite alternate; }
      .header__sky-stars--4 {
        background-image: url(../img/stars-4.png);
        animation: twinkle 5.5s ease-in -500ms infinite alternate; }
    .header__sky::before {
      content: ' ';
      height: var(--shooting-star-h);
      width: var(--shooting-star-w);
      position: absolute;
      top: calc(-1*var(--shooting-star-h));
      left: 63vw;
      background-image: url(../img/shooting-star.png);
      background-size: var(--shooting-star-w) var(--shooting-star-h);
      animation: shooting-star 1.8s linear 3s 4;
      z-index: 100; }
  .header__title {
    padding: 2rem;
    text-align: center; }
