:root {
  --color-black: rgb(24, 24, 24);
  --color-white: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-black); }

.header {
  font-family: "Playfair Display", serif;
  background-color: var(--color-black);
  height: 90vh;
  width: 100%;
  color: var(--color-white);
  position: relative;
  text-align: center; }
  .header__title {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0); }
