:root {
  --color-black: rgb(22, 22, 22);
  --color-white: #F0F2F0;
  --color-primary: #F0F2F0;
  --color-secondary: #000C40;
  --sky-h: 33vh;
  --shooting-star-w: 7.2rem;
  --shooting-star-h: 5rem; }

@keyframes shooting-star {
  0% {
    transform: translate(0, 0);
    opacity: 1; }
  5% {
    opacity: 0.9; }
  25% {
    opacity: 0;
    transform: translate(-200px, calc( (var(--sky-h)/2) + var(--shooting-star-h))); }
  100% {
    opacity: 0;
    transform: translate(0, 0); } }

@keyframes twinkle {
  from {
    opacity: .3; }
  to {
    opacity: 1; } }

@keyframes scroll-indicator {
  from {
    opacity: 0; }
  to {
    opacity: 0.5; } }

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translate(-50%, 0); }
  50% {
    opacity: 1; }
  75% {
    opacity: 0;
    transform: translate(-50%, 50%); }
  85% {
    opacity: 0;
    transform: translate(-50%, 60%); }
  100% {
    opacity: 0;
    transform: translate(-50%, 75%); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-bottom-md {
  margin-bottom: 3rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--color-white); }

.section-heading {
  font-family: "Fira Code", monospace;
  font-size: 3rem;
  color: var(--color-black);
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 2rem;
  padding: 0 4rem 0 2rem;
  background-image: linear-gradient(100deg, rgba(240, 242, 240, 0.8) 0%, rgba(240, 242, 240, 0.8) 90%, transparent 90%); }

.skills__list {
  width: 100%;
  list-style: none; }

.timeline {
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Courier New', Courier, monospace; }
  .timeline__item {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto; }
  .timeline__date {
    grid-column: 1 / 2;
    font-size: 1rem;
    text-align: right;
    padding-right: 1.4rem; }
  .timeline__event {
    grid-column: 2 / 3;
    padding-left: 1.4rem;
    padding-bottom: 3rem;
    border-left: 2px solid var(--color-primary); }
    .timeline__event-company {
      font-size: 1.4rem; }
    .timeline__event-title {
      font-size: 1.2rem; }

.header {
  height: 100vh;
  position: relative;
  font-family: "Fira Code", monospace;
  color: var(--color-white); }
  .header__sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--sky-h);
    overflow: hidden; }
    .header__sky-stars {
      position: absolute;
      top: 0;
      left: 0;
      background-size: auto 100%;
      background-position: 50% 0;
      width: 200vw;
      height: 33vh; }
      .header__sky-stars--1 {
        background-image: url(../img/stars-1.png);
        animation: twinkle 10s ease-in -5s infinite alternate; }
      .header__sky-stars--2 {
        background-image: url(../img/stars-2.png);
        animation: twinkle 3s ease-in -4s infinite alternate; }
      .header__sky-stars--3 {
        background-image: url(../img/stars-3.png);
        animation: twinkle 2s ease-in -1s infinite alternate; }
      .header__sky-stars--4 {
        background-image: url(../img/stars-4.png);
        animation: twinkle 5.5s ease-in -500ms infinite alternate; }
    .header__sky::before {
      content: ' ';
      height: var(--shooting-star-h);
      width: var(--shooting-star-w);
      position: absolute;
      top: calc(-1*var(--shooting-star-h));
      left: 63vw;
      background-image: url(../img/shooting-star.png);
      background-size: var(--shooting-star-w) var(--shooting-star-h);
      animation: shooting-star 1.8s linear 3s 4;
      z-index: 100; }
  .header__content {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 2rem;
    color: var(--color-white); }
  .header__name {
    font-size: 3.2rem;
    text-transform: uppercase; }
  .header__titles {
    font-size: 2rem;
    padding-bottom: 1rem; }
  .header__link, .header__link:link, .header__link:visited {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    border: none;
    cursor: pointer; }
  .header__link:not(:last-child) {
    padding-right: 2rem; }
  .header__scroll {
    position: relative;
    align-self: center;
    text-align: center; }
    .header__scroll a, .header__scroll a:link, .header__scroll a:visited {
      color: var(--color-white);
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1rem;
      opacity: 0;
      border: none;
      cursor: pointer;
      animation: scroll-indicator 3s linear 3s normal forwards; }
    .header__scroll a span {
      position: absolute;
      top: 10%;
      left: 50%;
      color: var(--color-white);
      opacity: 0;
      font-size: 2rem;
      animation: scroll-down 5s linear 3s infinite; }

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; }

body {
  background-color: var(--color-black); }

.header {
  scroll-snap-align: start; }

.section-about {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 2rem;
  box-sizing: border-box; }

.section-projects {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 2rem;
  box-sizing: border-box; }

.section-contact {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 2rem;
  box-sizing: border-box; }
