@keyframes shooting-star {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    
    5% {
        opacity: 0.9;
    }

    25% {
        opacity: 0;
        transform: translate(-200px, calc( (var(--sky-h)/2) + var(--shooting-star-h) ));
    }

    100% {
        opacity: 0;
        transform: translate(0,0);
    }
}

@keyframes twinkle {
    from { opacity: .3; }
    to { opacity: 1; }
}

// Scroll text animation
@keyframes scroll-indicator {
    from { opacity: 0; }
    to { opacity: 0.5; }
}

// Scroll chevron animation
@keyframes scroll-down {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }

    85% {
        opacity: 0;
        transform: translate(-50%, 60%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 75%);
    }
}