@mixin create-section {
    scroll-snap-align: start;
    height: 100vh;
    height: calc(var(--vh,1vh) * 100);
    width: 100%;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
}