:root {
    // --------COLORS--------
    --color-black: rgb(22, 22, 22);
    --color-white: #F0F2F0;
    --color-primary: #F0F2F0;
    --color-secondary: #000C40;


    // --------DIMENSIONS--------
    // Night Sky
    --sky-h: 33vh;
    --shooting-star-w: 7.2rem;
    --shooting-star-h: 5rem;
}

$color-white: #F0F2F0;
$color-black: rgb(22, 22, 22);
