:root {
    // --------COLORS--------
    --color-black: rgb(22, 22, 22);
    --color-white: #fff;
    --color-primary: rgb(14, 9, 100);

    // --------DIMENSIONS--------
    // Night Sky
    --sky-h: 33vh;
    --shooting-star-w: 7.2rem;
    --shooting-star-h: 5rem;
}