// Create variables to define card
$color-sun-yellow: #F9D71C;
$color-night: #000;
$color-day: #fff;

:root {
    --card-padding: 2.4rem;
    --card-height: 34rem;
    --card-width: 28rem;
    --card-border-radius: 6px;

    --sun-diameter: 10rem;
}

.projects {
    display: flex;
    justify-content: center;
}


.project-loading {
    display: block;
    position: relative;
    overflow: hidden;
    width: var(--card-width);
    height: var(--card-height);
    
    border-radius: var(--card-border-radius);
    box-shadow: 0 1rem 4.5rem 2rem rgba($color-white, .1);
    
    background-color: $color-day;
    animation: nightToDay 8s linear infinite forwards;

    &__sun {

        position: absolute;
        top: calc( var(--card-height)/2 - var(--sun-diameter)/2 );
        left: calc( var(--card-width)/2 - var(--sun-diameter)/2 );

        width: var(--sun-diameter);
        height: var(--sun-diameter);

        border-radius: 50%;
        background-color: $color-sun-yellow;

        &:after {
            content:'';
            position: absolute;
            left: 15rem;

            width: var(--sun-diameter);
            height: var(--sun-diameter);

            border-radius: 50%;
            background-color: $color-day;

            transform: scale(0.95);

            z-index: 100;

            animation:
                nightToDay 8s linear infinite forwards,
                eclipse 8s linear infinite forwards;
        }
    }
}

.project-card {
    display: none;
    width: 28rem;
    height: var(--card-height);
}

@keyframes nightToDay {
    0% {
        background-color: $color-day;
    }
    30%,50% {
        background-color: $color-night;
    }
    80% {
        background-color: $color-day;
    }
    100% {
        background-color: $color-day;
    }
}

@keyframes eclipse {
    0% {
        left: 15rem;
    }
    30%,50% {
        left: 0;
    }
    80% {
        left: -15rem;
    }
    100% {
        left: -15rem;
    }
}