.timeline {
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

    &__item {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto;
    }

    &__date {
        grid-column: 1 / 2;
        font-size: 1rem;
        text-align: right;
        padding-right: 1.4rem;
    }

    &__event {
        grid-column: 2 / 3;
        padding-left: 1.4rem;
        padding-bottom: 3rem;
        border-left: 2px solid var(--color-primary);

        &-company {
            font-size: 1.4rem;
        }
        &-title {
            font-size: 1.2rem;
        }
        
    }
}