.timeline {
    position: relative;

    &__event {
        // Create 2x2 event grid
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "date name"
            "date description";

        // Assign grid areas
        &-date { grid-area: date; }
        &-name { grid-area: name; }
        &-description { grid-area: description; }

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    &__event-date {
        margin-right: 2.5rem;
        font-size: 1rem;
        text-align: right;
    }

    &__event-name,
    &__event-description {
        margin-left: 2.5rem;
        font-size: 1.2rem;
    }

    &__event-name {
        font-weight: bolder;
    }

    &__event-description {
        font-style: italic;
    }

    // Timeline Dashed Line
    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 25%;

        height: 110%;
        width: 75%;

        background-image: linear-gradient(to bottom, var(--color-white) 10%, rgba(0, 0, 0, 0) 0%);
        background-position: left;
        background-size: 1px 10px;
        background-repeat: repeat-y;

        z-index: -1;
    }
}