// RESET FOR ALL BROWSERS
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    // This defines what 1rem is (10px assuming 16px default)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}