html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory; /* Firefox */  
    -ms-scroll-snap-type: mandatory; /* IE/Edge */  
    -webkit-scroll-snap-type: mandatory; /* Safari */  
    -webkit-scroll-snap-destination: 0% 0%; 
    -webkit-overflow-scrolling: touch;
}

body {
    //background-image: linear-gradient(to bottom, #0f2027, #203a43);
    background-color: var(--color-black);
    -webkit-font-smoothing: subpixel-antialiased;
}

.header {
    scroll-snap-align: start;
}

.section {
    @include create-section;
    
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}