html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    //background-image: linear-gradient(to bottom, #0f2027, #203a43);
    background-color: var(--color-black);
    -webkit-font-smoothing: subpixel-antialiased;
}

.header {
    scroll-snap-align: start;
}

.section {
    @include create-section;
    
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}